Clear

set DefaultBaseFrequency={{ default_base_frequency }}

New Circuit.{{ circuit_name }}
~ basekv={{ circuit_params.basekv }} phases={{ circuit_params.phases }} pu={{ circuit_params.pu }} angle={{ circuit_params.angle }} frequency={{ circuit_params.frequency }} baseMVA={{ circuit_params.baseMVA }} puZ1={{ circuit_params.puZ1 }} !Model=ideal
~ bus1={{ circuit_params.bus1 }}
!~ basekv=138.0 phases=3 pu=1.0162276665500547 angle=49.136995333567725 frequency=60.0 baseMVA=7280000.5374813610073 puZ1=[0.001, 0.2] !Model=ideal
/**** Conversion from PSS/E RAW data file ****/

/**** Circuit elements definition ****/

/*** ---- Choose either generators.dss or gens_as_vsrcs.dss ***/
{% for redirect in redirect_files %}
{{ redirect }}
{% endfor %}

/**** Voltage bases for all buses ****/
Set VoltageBases = [{{ voltage_bases }}]
Calcv
redirect confirm_kv_bases.dss

set algorithm={{ algorithm }} !IgnoreGenQLimits={{ ignore_gen_q_limits }}

!/*
!set maxcontroliter=100 maxiterations=100
!Solve mode = snap
!Solve mode = direct
!*/
!show voltages ln Nodes
!show powers MVA Elem

/*Set mode=daily
Set maxiterations=500
Set stepsize=36s
Set number=50

solve

summary*/