//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/.
// 

package o_g_topology_test2.simulations;
import o_g_topology_test2.Compressor;
import o_g_topology_test2.DataProcessor;
import o_g_topology_test2.GasNode;
import o_g_topology_test2.GasPipe;
import o_g_topology_test2.IntegratedNode;


network topology
{
    parameters:

        @display("bgb=1268,1055");

    submodules:
{% for node in nodes.gas_nodes %}
        gasNode{{ node.id }}: GasNode {
            @display("p={{ node_positions['gasNode' + node.id|string].x }},{{ node_positions['gasNode' + node.id|string].y }}");
        }
{% endfor %}
{% for node in nodes.integrated_nodes %}
        integratedNode{{ node.id }}: IntegratedNode {
            @display("p={{ node_positions['integratedNode' + node.id|string].x }},{{ node_positions['integratedNode' + node.id|string].y }}");
        }
{% endfor %}
{% for compressor in nodes.compressor_nodes %}
        compressor{{ compressor.id }}: Compressor {
            @display("p={{ compressor.position.x }},{{ compressor.position.y }}");
        }
{% endfor %}
    connections:

{% for pipe in edges.gas_pipes %}
        {{ pipe.from }}.out++ --> GasPipe { diameter = {{ pipe.diameter }}; length = {{ pipe.length }}; flow = {{ pipe.flow }}; cij = {{ pipe.cij }}; type = "{{ pipe.type }}"; qij = "{{ pipe.qij }}"; } --> {{ pipe.to }}.in++;
{% endfor %}
}